:root
{
    --main-color:orange;
    --secondary-color:rgb(250, 238, 217);
    --border-color: yellow;
}
body
{
    margin: 0;
    background-color: var(--secondary-color);
    position: relative;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar
{
    width: 0px;
}
*{
    box-sizing: border-box;
    user-select: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
header
{
    width: 100%;
    background-color: var(--main-color);
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.logo
{
    display: block;
    min-width: 96px;
    width: 200px;
    background-image: url("/assets/img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    flex-shrink: 1;
}
.logo-img
{
    width: 100%;
    padding-top: 50%;
}
.search-container
{
    width: 30%;
    margin-right: 12px;
    position: relative;
    flex-shrink: 0;
}
.search
{
    height: 38px;
    border: 1px yellow solid;
    border-radius: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-size: 20px;
    transition: all 0.3s;
}
.search__icon{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 8px 12px;
    font-size: 20px;
    opacity: 0.65;
    transform: translateX(0);
    transition: all 0.3s;
}
#search__input{
    padding: 0 8px 0 16px ;
    height: 100%;
    width: 100%;
    margin-left: 27px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    transition: all 0.3s;
}
#search__input:focus{
    margin-left: 0;
}
#search__input:focus + .search__icon{
    transform: translateX(-100%);
}
.search__list{
    padding: 6px 6px;
    box-shadow: var(--main-color) 0 0 2px;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    position: absolute;
    top:44px;
    left: -54px;
    right: -18px;
    transform-origin: center top;
    animation: scaleIn ease-out 0.2s;
    z-index: 1;
    display: none;
}
.search__list.open{
    display: block;
}
.search__item{
    display:block;
    padding-right: 16px;
    height: 40px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 40px;
}
.search__list .search__icon{
    position: relative;
}
.search__item+.search__item{
    border-top: #ddd 1px solid;
}
.search__item:hover{
    background-color: var(--secondary-color);
}
nav
{
    flex-shrink: 0;
}
.nav-button 
{
    width: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    display: none;
    flex-shrink: 0;
}
.nav-button .fa-list
{
    font-size: 26px;
    padding-top: 10px;

}
.nav-button:hover .fa-list
{
    color: white;
}
.nav__list
{
    display: flex;
    align-items: center;
    padding: 0;
    height: 100%;
}
.nav__item{
    padding: 0 12px;
    height: 42px;
    border-radius: 3px;
    line-height: 42px;
    font-size: 20px;
    overflow: hidden;
    text-align: justify;
}
.nav__item a{
    height: 100%;
    width: 100%;
    display: block;
}
.nav__item i{
    font-size: 24px;
    width: 36px;
}
.nav__item:hover a,
.nav__item:hover
{
    background-color: rgb(255, 188, 63);
}
.nav__item--action,
.nav__item--action a{
    color: white;
    font-weight: 600;
}

.container{
    width: 100%;
    padding-top: 12px;
}
.grid
{
    width: calc(100% - 24px);
    max-width: 1200px;
    margin: 0px auto;
}
.grid__row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}
.grid__col-9{
    padding-left:6px;
    padding-right:6px;
    width: 75%;
}
.grid__col-9-3{
    padding-left:6px;
    padding-right:6px;
    width: 33.333333333%;
}
.grid__col-9-6{
    padding-left:6px;
    padding-right:6px;
    width: 66.666666667%;
}
.grid__col-full{
    padding-left:6px;
    padding-right:6px;
    width: 100%;
}
.grid__col-3{
    padding-left:6px;
    padding-right:6px;
    width: 25%;
}
.news{
    display: block;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 4px;
    overflow: auto;
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}
.news:hover{
    transform: translateY(-2px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.news__head{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 12px 18px;
    color: white;
    text-shadow: black 0px 0px 2px;
    font-size: 24px;
    line-height: 30px;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.news:hover .news__head{
    text-decoration: underline;
}

.grid__col-9-3 .news__img{
    width: 100%;
    padding-top: calc(100% + 6px);
}
.grid__col-9-6 .news__img{
    width: 100%;
    padding-top: 50%;
}
.grid__col-full .news__img{
    width: 100%;
    padding-top: 33.333333333%;
}

.slide-container{
    position: relative;
}
.news-slide{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    /* transform: translateX(100%); */
}
.news-slide__item{
    min-width: 100%;
    border-radius: 2px;
    overflow: auto;
    transition: all 0.6s;
}
.slide-direction{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 48px;
    width: 36px;
    border-radius: 12px;
    background-color: white;
    box-shadow: #333 0px 0px 3px;
    opacity: 0.4;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-direction.next{
    right: 0;
}
.slide-direction:hover{
    transform: translateY(calc(-50% - 2px));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    opacity: 1;
}
.slide-dot__container{
    display: flex;
    position: absolute;
    padding: 12px 12px;
    left: 0px;
    bottom: 6px;
}
.slide-dot{
    height: 8px;
    width: 16px;
    margin: 1px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: #333 0 0 2px;
    background-color: white;
    transition: all 0.6s;
    opacity: 0.5;
}
.slide-dot.open{
    width: 72px;
    opacity: 1;
}
.news-slide__head{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 36%;
    padding: 24px 0 24px 36px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.4), transparent 50% );
}
.news-slide__head h4{
    margin: 0;
    max-height: 100%;
    color: white;
    text-shadow: black 0px 0px 2px;
    font-size: 24px;
    line-height: 30px;
    overflow: auto;
}
aside 
{
    max-height: calc(100vh - 74px);
    padding: 12px 24px;
    border: var(--main-color) 1px solid;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: auto;
    background-color: white;
    position: sticky;
    top: 60px;
}
aside ~ .modal__overlay{
    display: none;
}
.aside__item{
    height: 40px;
    border-top: 2px rgba(255, 166, 0, 0.35) solid;
}
.aside__item:first-child
{
    border-top: transparent 2px solid;
}
.aside__item:hover + .aside__item{
    border-top: transparent 2px solid;
}
.aside__item a{
    
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
}
.aside__item:hover{
    
    color: var(--main-color);
    border: yellow solid;
    border-width: 2px 0;
}
.aside__item:hover a{
    color: var(--main-color);
}
.aside__item2{
    margin-left: 24px;
    list-style-type: disc;
}
.aside__item2 a{ 
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}
.aside__item2:hover{
    color: var(--main-color);
    list-style-type: circle;
    border-width: 2px 0;
}
.aside__item2:hover a{
    color: var(--main-color);
    text-decoration: underline;
}
#aside__check{
    display: none;
}
.aside__button{
    display: none;
}
footer
{
    width: 100%;
    min-height: 150px;
    border-top: 2px yellow solid;
    background-color: var(--main-color);
}
.modal
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    animation: fadeIn 0.3s;
    z-index: 2;
}
.modal.open{
    display: flex;
}
.modal__overlay
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn linear 0.3s;
}
.modal__body
{
    position: relative;
    background-color: white;
    margin:auto;
    border: 1px var(--main-color) solid;
    border-radius: 5px;
    padding: 25px;
}
.auth__header
{
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: baseline;
}
.auth__heading
{
    font-size: 25px;
    font-weight: 600;
}
.auth__switch
{
    font-size: 18px;
    font-weight: 400;
    color: var(--main-color);
    cursor: pointer;
}
.auth__form
{
    margin-top: 20px;
    width: 450px;
    max-width: calc(100vw - 76px);
    margin: auto;
}
.auth__input
{
    display: block;
    width: 100%;
    height: 40px;
    padding: 13px;
    margin-bottom: 20px;
    border: 1px grey solid;
    border-radius: 3px;
}
.auth__aside
{
    text-align: center;
}
.auth__aside input
{
    cursor: pointer;
}
.auth__aside-text
{
    display: inline;
}
.auth__aside-link
{
    text-decoration: underline;
}
.auth__aside-link:hover
{
    color: var(--main-color);
}
.auth__controls
{
    margin-top: 120px;
    display: flex;
    justify-content: flex-end;
}
.auth__btn
{
    min-width: 140px;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
}
.auth__btn + .auth__btn{
    margin-left: 10px;
}
.auth__btn:hover
{
    background-color: #bbb;
}
.auth__btn.auth__btn--primary
{
    color: white;
    border: 1px yellow solid;
    background-color: var(--main-color);
}
.auth__btn.auth__btn--primary:hover
{
    background-color: rgb(228, 148, 0);
}
.auth__aside-link--forgot-pw
{
    float: right;
    padding: 0 15px;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes scaleIn{
    from {
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@media (max-width:1023px){
    /* mobile+tablet */
    .search__list.open ~ .aft{
        display: block;
        content: "";
        height: 100px;
        width: 50px;
        background-color: #33333371;
        position: absolute;
        top: 45px;
        left: -54px;
        width: 100vw;
        height: 100vh;
    }
   
    aside{
        max-height: calc(100vh - 132px);
        position: fixed;
        bottom: 72px;
        top: auto;
        right: 12px;
        transform: translateX(calc(100% + 12px));
        z-index: 999;
        opacity: 0;
        transition: all 0.3s;
    }
    .aside__button{
        display: block;
        float: right;
        position: fixed;
        bottom: 12px;
        right: 18px;
        border-radius: 50%;
        background-color: yellow;
        text-align: center;
        opacity: 0.8;
        z-index: 2;
        transition: all 0.3s;
    }
    .aside__button i{
        height: 48px;
        width: 48px;
        line-height: 48px;
        font-size: 24px;
        transform: rotate(0);
        transition: all 0.3s;
    }
    aside.open~ .modal__overlay
    {
        z-index: 1;
        display: block;
    }
    aside.open{
        transform: translateX(0);
        opacity: 1;
    }
    aside.open ~ .aside__button {
        background-color: red;
    }
    aside.open ~ .aside__button i{
        transform: rotate(-45deg);
    }
    aside.open ~ .modal__overlay{
        display: block;
    }
}
@media (min-width: 740px) and (max-width: 1023px) {
    /* tablet */
    .nav__item span
    {
        display: none;
    }
    .nav__item a
    {
        /* font-size: 0; */
    }
    .grid{
        max-width: 960px;
    }
    .tablet__col-full{
        width: 100%;
    }
    .tablet__col-6{
        width: 50%;
    }
    aside{
        width: 50%;
        max-height: calc(100vh - 168px);
        bottom: 108px;
    }
    .aside__button{
        bottom: 24px;
    }
    .aside__button i{
        width: 72px;
        height: 72px;
        line-height: 72px;
        font-size: 36px;
    }
}
@media (max-width: 740px) {
    /* mobile */
    .logo
    {
        width: 96px;
    }
    nav{
        padding: 0;
    }
    .search-container{
        order: -1;
        width: auto;
    }
    .search{
        width: auto;
    }
    .search__icon{
        font-size: 14px;
        padding: 11px;
    }
    #search__input{
        width: 36px;
        margin-left: 0;
        transition: all 0.3s;
    }
    #search__input:focus{
        width: calc(100vw - 190px);
    }
    .search__list{
        transform-origin: left top;
        width: 100vw;
    }
    .nav-button
    {
        display: block;
    }
    nav{
        z-index: 0;
    }
    .nav__list
    {
        position: absolute;
        top: 100%;
        right: 0;
        width: 300px;
        height: 100vh;
        background-color: var(--main-color);
        border-top: var(--border-color) solid 2px;
        border-left: var(--border-color) solid 2px;
        padding: 12px;
        transform:translateX(-100%);
        opacity: 0;
        transition: all linear 0.2s;
        cursor: default;
        display: block;
    }
    .overlay
    {
        position: absolute;
        top: 48px;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        animation: fadeIn linear 0.2s;
        display: none;
    }
    .nav__list
    {
        transform:translateX(0);
        opacity: 1;
    }
    .overlay{
    display: block;
    }
    nav .hide-sign__overlay
    {
        position: absolute;
        top: 48px;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.2);
        animation: fadeIn linear 0.2s;
        display: none;
    }
    nav #hide-sign__check:checked ~ .right
    {
        display: block;
    }
    nav #hide-sign__check:checked ~ .hide-sign__overlay{
        display: block;
    } 
    .mobile__col-full{
        width: 100%;
    }
    .mobile__col-full>.news .news__img{
        padding-top: 50%;
    }
    .grid__col-full>.news .news__img{
        padding-top: 50%;
    } 
    .mobile__col-6{
        width: 50%;
    }
    .news-slide__head h4,
    .news__head{
        font-size: 12px;
        margin: 6px 9px;
        line-height: 14px;
    }
    aside{
        left: 12px;
    }
    .auth__btn{
        min-width: 0;
        flex: 1;
    }
}
